
<div class="individual-movie-container">
    <a href="@MovieUrl">
        <img class="movie-poster" src="@Movie.Poster" />
    </a>
    <p><a href="@MovieUrl">@Movie.TitleBrief</a></p>
    <div>
        <a class="btn btn-info">Edit</a>
        <button type="button" class="btn btn-danger" @onclick="@(()=>DeleteMovie.InvokeAsync(Movie))">
            Delete
        </button>
    </div>

</div>


@code {
    [Parameter]
    public Movie Movie { get; set; }

    [Parameter]
    public bool DisplayButtons { get; set; } = false;
    [Parameter]
    public EventCallback<Movie> DeleteMovie { get; set; }
    private string MovieUrl = string.Empty;
    protected override void OnInitialized()
    {
        MovieUrl = "movie/";
    }


}
