<div class="multiple-selector">
    <ul class="selectable-ul">
        @foreach (var item in NoSelected)
        {
            <li @onclick="@(()=>Select(item))">@item.Value</li>
        }
    </ul>
    <div class="multiple-selector-buttons">
        <button type="button" @onclick="SelectAll">>></button>
        <button type="button" @onclick="DeselectAll">@removeAll</button>
    </div>
    <ul class="selectable-ul">
        @foreach (var item in Selected)
        {
            <li @onclick="@(()=>Deselect(item))">@item.Value</li>
        }
    </ul>
</div>

@code {
    private string removeAll = "<<";
    [Parameter] public List<MultipleSelectorModel> NoSelected { get; set; } = new List<MultipleSelectorModel>();
    [Parameter] public List<MultipleSelectorModel> Selected { get; set; } = new List<MultipleSelectorModel>();
    void Select(MultipleSelectorModel item)
    {
        NoSelected.Remove(item);
        Selected.Add(item);
    }
    void Deselect(MultipleSelectorModel item)
    {
        Selected.Remove(item);
        NoSelected.Add(item);

    }
    void SelectAll()
    {
        Selected.AddRange(NoSelected);
        NoSelected.Clear();
    }
    void DeselectAll()
    {
        NoSelected.AddRange(Selected);
        Selected.Clear();
    }
}

